[data-theme="light"] #page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
}

[data-theme="dark"] #page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
}


[data-theme="dark"] #footer:before {
    background-color: rgba(0, 0, 0, 0);
}

[data-theme="light"] #footer:before {
    background-color: rgba(0, 0, 0, 0);
}




@font-face {
    font-family: 'gqh';
    /* 字体名自定义即可 */
    src: url('https://blog-source-i5rfy2u82-007maybe.vercel.app/font/ZhuZiAWan.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: gqh !important;
}