[data-theme="light"]
#page-header:before{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    content: '';
}

#footer:before {
    background-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'gqh';
    /* 字体名自定义即可 */
    /*src: url('http://rg6wdl1jz.hb-bkt.clouddn.com/ZhuZiAWan.ttf');*/
    src: url('https://npm.elemecdn.com/tzy-blog/lib/font/ZhuZiAWan.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: gqh !important;
}