[data-theme="light"] #page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
}

[data-theme="dark"] #page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
}


[data-theme="dark"] #footer:before {
    background-color: rgba(0, 0, 0, 0);
}

[data-theme="light"] #footer:before {
    background-color: rgba(0, 0, 0, 0);
}




@font-face {
    font-family: 'gqh';
    /* 字体名自定义即可 */
    src: url('https://blog-source-cyan.vercel.app/font/ZhuZiAWan.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: gqh !important;
}


/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
    display: inline-block;
}

/* 圆角隐藏 */
ul.menus_item_child {
    overflow: hidden;
    border-radius: 5px;
}

/* 调整空隙，确保不会天下武功唯快不破 */
#nav .menus_items .menus_item .menus_item_child {
    margin-top: 0px !important;
}